<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="icon" href="/public/img/favicon.ico">
</head>
<body>
    <header class="MainPage">
        {{#if isHomepage}}
            <nav class="HomeNav">
                <img src="/public/img/Logo.png" alt="Resumia">
                <div>
                    <a href="../static/index.html">About Us</a>
                    <a href="/logout"><button class="LoginButton" type="submit">Log out</button></a>
                </div>
            
            </nav>
            <hr>
            <p>current time: {{time}}</p>
        {{else}}     
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy;Copyright 2017-2022</p>
    </footer>
</body>
</html>