<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="icon" href="/public/img/favicon.ico">
</head>
<body>
    <header>
        {{#if isHomepage}}
            <h1>This is a navigation bar</h1>
            <p>current time: {{time}}</p>
        {{else}}     
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy;Copyright 2017-2022</p>
    </footer>
</body>
</html>