<section class="MainPage">
    <nav class="HomeNav">
        <img src="/public/img/Logo.png" alt="Resumia">
        <div>
            <a href="../static/index.html">About Us</a>
            <a href="/logout"><button class="LoginButton" type="submit">Log out</button></a>
        </div>
    </nav>
    <hr>
    <h1>This is basic info page for applicant</h1>
    <form action="/applicant/addBasicInfo" method="POST" class="InfoForm">
        <label>
          Please enter more info so that we can help u search job easier:
        </label>
        <br>
        <p style="color: red;">{{error}}</p>
        <label for="firstname">
            Firstname
            <input type="firstname" id = "firstnameInput" name="firstnameInput" placeholder="firstname">
        </label>
        <br>
        <label for="lastname">
            Lastname
            <input type="lastname" id = "lastnameInput" name="lastnameInput" placeholder="lastname">
        </label>
        <br>
        <label for="genderInput">
            Type
            <select id = "genderInput" name="genderInput" >
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
            </select>
        </label>
        <br>
        <label for="age">
            Age
            <input type="age" id = "ageInput" name="ageInput" placeholder="age">
        </label>
        <label for="city">
            City
            <input type="city" id = "cityInput" name="cityInput" placeholder="city">
        </label>
        <label for="state">
            State
            <input type="state" id = "stateInput" name="stateInput" placeholder="state">
        </label>
        <label for="country">
            Country
            <input type="country" id = "countryInput" name="countryInput" placeholder="country">
        </label>
        <br>
        <label for="phone">
            Phone Number
            <input type="phone" id = "phoneInput" name="phoneInput" placeholder="phone">
        </label>
        <br>
        <button class="submitButton" type="submit">Continue</button>
    </form>
</section>