<section class="MainPage">
    <h1>Create your splendid resume!</h1>
    <div id="createResumeDiv">
        <div id="ResumeNav">
            <div id="IDTag">Personal Information</div>
            <div id="SkillTag">Skills</div>
            <div id="EduTag">Education</div>
            <div id="WorkTag">Working Experience</div>
            <div id="ProjTag">Project</div>            

        </div>
        <form action="/applicant/createResume" method="POST" id="resume-form">
            <p style="color: red;">{{error}}</p>
            <div id="IDCont">
                <label for="resumeNameInput">
                Resume Title
                <input type="text" id = "resumeNameInput" name="resumeNameInput" placeholder="Resume Title">
                </label>
                <br>
                <label for="firstnameInput">
                    Firstname
                    <input type="text" id = "firstnameInput" name="firstnameInput" placeholder="Firstname">
                </label>
                <label for="lastnameInput">
                    Lastname
                    <input type="text" id = "lastnameInput" name="lastnameInput" placeholder="Lastname">
                </label>
                <br>
                <label for="emailInput">
                    Email
                    <input type="email" id = "emailInput" name="emailInput" placeholder="Email">
                </label>
                <label for="genderInput">
                    Gender
                    <select id = "genderInput" name="genderInput" >
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        <option value="2">Not to tell</option>
                    </select>
                </label>
                <br>
                <label for="cityInput">
                    City
                    <input type="text" id = "cityInput" name="cityInput" placeholder="city">
                </label>
                <label for="stateInput">
                    State
                    <input type="text" id = "stateInput" name="stateInput" placeholder="state">
                </label>
                <label for="countryInput">
                    Country
                    <input type="text" id = "countryInput" name="countryInput" placeholder="country">
                </label>
                <br>
                <label for="ageInput">
                    Age
                    <input type="number" id = "ageInput" name="ageInput" placeholder="Age" min="1" max="100">
                </label>
                <br>
                <label for="phoneInput">
                    Phone (US only)
                    <input type="text" id = "phoneInput" name="phoneInput" placeholder="phone">
                </label>
                <br>
                <label for="addrInput">
                    Address
                    <input type="text" id = "addrInput" name="addrInput" placeholder="Address">
                </label>
                <br>
                <label for="websiteInput">
                    Website (optional)
                    <input type="text" id = "websiteInput" name="websiteInput" placeholder="Website">
                </label>
            </div>
            <div id="SkillCont">
                    Add Skill
                    <input type="text" id = "skillInput" name="skillInput" placeholder="Add skill here">
                    <button id="addButton" type="button">Add</button>
                    <button id="deleteButton" type="button">Delete from bottom</button>
                    <div id="box"></div>
            </div>
            <div id="EduCont">  {{!-- Education --}}
                <div>
                    <label for="schoolInput">
                        School
                        <input type="text" id = "schoolInput" name="Edu[0][schoolInput]" placeholder="School">
                    </label>
                    <br>
                    <label for="startDateInput">
                        Start Date
                        <input type="date" id = "startDateInput" name="Edu[0][startDateInput]">
                    </label>
                    <label for="currentStudyInput">
                        Currently studying
                        <input type="radio" id = "currentStudyInput" name="Edu[0][currentStudyInput]">
                    </label>
                    <label for="endDateInput">
                        End Date
                        <input type="date" id = "endDateInput" name="Edu[0][endDateInput]">
                    </label>
                    <br>
                    <label for="gpaInput">
                        GPA
                        <input type="text" id = "gpaInput" name="Edu[0][gpaInput]" placeholder="GPA">
                    </label>
                    <br>
                    <label for="degreeInput">
                        Degree
                        <input type="text" id = "degreeInput" name="Edu[0][degreeInput]" placeholder="Degree">
                    </label>
                    <br>
                    <label for="majorInput">
                        Major
                        <input type="text" id = "majorInput" name="Edu[0][majorInput]" placeholder="Major">
                    </label>
                    <br>
                    <label for="countryInput1">
                        Country
                        <input type="text" id = "countryInput1" name="Edu[0][countryInput]" placeholder="Country">
                    </label>
                    <label for="stateInput1">
                        State
                        <input type="text" id = "stateInput1" name="Edu[0][stateInput]" placeholder="State">
                    </label>
                    <label for="cityInput1">
                        City
                        <input type="text" id = "cityInput1" name="Edu[0][cityInput]" placeholder="City">
                    </label>
                    <br>
                    <label for="descriptionInput">
                        Description
                        <input type="text" id = "descriptionInput" name="Edu[0][descriptionInput]" placeholder="Description">
                    </label>
                </div>
                {{!-- <button type="button" id="addEdu">Add Education</button> --}}
            </div>
            
            <div id="WorkCont">  {{!-- Employed Histories --}}
                <div>
                    <label for="employerInput">
                        Employer
                        <input type="text" id = "employerInput" name="Emp[0][employerInput]" placeholder="Employer">
                    </label>
                    <br>
                    <label for="jobTitleInput">
                        Job Title
                        <input type="text" id = "jobTitleInput" name="Emp[0][jobTitleInput]" placeholder="Job Title">
                    </label>
                    <br>
                    <label for="startDateInput2">
                        Start Date
                        <input type="date" id = "startDateInput2" name="Emp[0][startDateInput]">
                    </label>
                    <label for="currentEmployed">
                        Currently employed
                        <input type="radio" id = "currentEmployed" name="Emp[0][currentStudyInput]">
                    </label>
                    <label for="endDateInput2">
                        End Date
                        <input type="date" id = "endDateInput2" name="Emp[0][endDateInput]">
                    </label>
                    <br>
                    <label for="countryInput2">
                        Country
                        <input type="text" id = "countryInput2" name="Emp[0][countryInput]" placeholder="Country">
                    </label>
                    <label for="stateInput2">
                        State
                        <input type="text" id = "stateInput2" name="Emp[0][stateInput]" placeholder="State">
                    </label>
                    <label for="cityInput2">
                        City
                        <input type="text" id = "cityInput2" name="Emp[0][cityInput]" placeholder="City">
                    </label>
                    <br>
                    <label for="descriptionInput2">
                        Description
                        <input type="text" id = "descriptionInput2" name="Emp[0][descriptionInput]" placeholder="Description">
                    </label>
                </div>
                {{!-- <button>Add Employed History</button> --}}
            </div>
            <div id="ProjCont">  {{!-- Projects --}}
                <div>
                    <label for="titleInput">
                        Title
                        <input type="text" id = "titleInput" name="Pro[0][titleInput]" placeholder="Title">
                    </label>
                    <br>
                    <label for="roleInput">
                        Role
                        <input type="text" id = "roleInput" name="Pro[0][roleInput]" placeholder="Role">
                    </label>
                    <br>
                    <label for="descriptionInput3">
                        Description
                        <input type="text" id = "descriptionInput3" name="Pro[0][descriptionInput]" placeholder="Description">
                    </label>
                </div>
                {{!-- <button>Add Project</button> --}}
                <br><br>
                <button class="submitButton" type="submit">Submit</button>
            </div>

        </form>
    </div>
    
</section>
