<section class="MainPage">
    <h1>This show all of you resumes</h1>
    <div class="ResumeTable">
        <div class="ResumeDiv">
            <a href="/applicant/createResume">
                <p class="addButton">+</p>
                <p class="addDesc">Add a new resume</p>
            </a>
        </div>
        

        {{#each resumes}}
            <div class="ResumeDiv">
                <p>{{resumeName}}</p>
                <a href="/applicant/readResume/{{_id}}">Review</a>
                <a href="/applicant/deleteResume/{{_id}}">Delete</a>
            </div>

        {{/each}}
        
    </div>
</section>