<section class="MainPage">
  
  <h1>Update Password</h1>
<p>{{error}}</p>
<form id="password-form" name="password-form" action="/applicant/updatePassword" method="POST">
        <label for="password">
            Old Password
            <input type="password" id = "passwordInputFirst" name="passwordInputFirst" placeholder="password">
        </label>
        <label for="password">
              Old Password
            <input type="password" id = "passwordInputSecond" name="passwordInputSecond" placeholder="repeat your password">
        </label>
        <label for="password">
            New Password
            <input type="password" id = "NewpasswordInput" name="NewpasswordInput" placeholder="password">
        </label>
        <button class="submitButton updateButton" type="submit">Update</button>
</form>
</section>