<section>
<h1>Register</h1>
<p style="color: red;">{{error}}</p>
<form id="registration-form" action="/register" method="POST">
    <label for="emailInput">
        Username
        <input type="text" id = "emailInput" name="emailInput" placeholder="email">
    </label>
    <label for="passwordInput">
        Password
        <input type="text" id = "passwordInput" name="passwordInput" placeholder="password">
    </label>
    <label for="userTypeInput">
        Type
        <select id = "userTypeInput" name="userTypeInput" >
            <option value="true">Applicant</option>
            <option value="false">HR</option>
        </select>
    </label>
    <br>
    <label for="firstname">
        Firstname
        <input type="firstname" id = "firstnameInput" name="firstnameInput" placeholder="firstname">
    </label>
    <label for="lastname">
        Lastname
        <input type="lastname" id = "lastnameInput" name="lastnameInput" placeholder="lastname">
    </label>
    <label for="ganderInput">
        Type
        <select id = "ganderInput" name="ganderInput" >
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="transgender">Transgender</option>
            <option value="cisgender">Cisgender</option>
            <option value="gender fluid">Gender Fluid</option>
            <option value="intersex">Intersex</option>
            <option value="neither">Neither</option>
        </select>
    </label>
    <br>
    <label for="city">
        City
        <input type="city" id = "cityInput" name="cityInput" placeholder="city">
    </label>
    <label for="state">
        State
        <input type="state" id = "stateInput" name="stateInput" placeholder="state">
    </label>
    <label for="country">
        Country
        <input type="country" id = "countryInput" name="countryInput" placeholder="country">
    </label>
    <br>
    <label for="age">
        Age
        <input type="age" id = "ageInput" name="ageInput" placeholder="age">
    </label>
    <label for="phone">
        Phone
        <input type="phone" id = "phoneInput" name="phoneInput" placeholder="phone">
    </label>
    <label for="address">
        Address
        <input type="address" id = "addressInput" name="addressInput" placeholder="address">
    </label>
    <br>
    <label for="website">
       Website
        <input type="website" id = "websiteInput" name="websiteInput" placeholder="website">
    </label>
    <button id="submitButton" type="submit">Register</button>
</form>
<a href="/">Already have an account? Click here to log-in</a>
</section>