<section class="MainPage">
    <nav class="HomeNav">
        <img src="/public/img/Logo.png" alt="Resumia">
        <div>
            <a href="/aboutus">About Us</a>
            <button class="LoginButton" onclick="window.location.href = '/register'" type="button">Register</button>
        </div>
    </nav>
    <hr>

    <h1>Here is your job miracle!</h1>
    <h2>Sign in to discover</h2>
    <form id="login-form" action="/login" method="POST">
        <label for="emailInput">     
            <input type="text" id="emailInput" name="emailInput" placeholder="email">
        </label>
        <br>
        <label for="passwordInput">   
            <input type="password" id="passwordInput" name="passwordInput" placeholder="password">
        </label>
        <br>
        <button class="submitButton" type="submit">Login</button>
        <p style="color: red;">{{error}}</p>
        <img src="/public/img/web-development-skills.jpg" alt="RecuitPic">
    </form>

</section>