<section>
    <h1>Login</h1>
    <p style="color: red;">{{error}}</p>
    <form id="login-form" action="/login" method="POST">
        <label for="emailInput">
            Email
            <input type="text" id="emailInput" name="emailInput" placeholder="email">
        </label>
        <label for="passwordInput">
            Password
            <input type="password" id="passwordInput" name="passwordInput" placeholder="password">
        </label>
        <button id="submitButton" type="submit">Login</button>
    </form>
    <a href="/register">Click here to register!</a>
</section>