/* CSS for nav bar */
.navLink{
    margin: 0px 16px;
    font-size: 20px;
    color: #4aafe4;
    font-weight: bold;
    border-bottom: 3px solid white;
}

.navLink:hover{
    border-bottom: 3px solid #0077b5;
}


/* CSS for login and register */

.MainPage{
    width: 70%;
    padding: 0px;
    line-height: 80px;
    margin: 0px auto;
}

.HomeNav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.HomeNav a{
    text-decoration: none;

}
.HomeNav a:first-of-type{
    color: #0077b5;
    font-size: 19px;
    margin: 20px;
    font-weight: bold;
}

.HomeNav a:first-of-type:hover{
    opacity: 0.6;
}
.LoginButton{
    border-radius: 2em;
    border: 1px solid #0077b5;
    width: 116px;
    height: 49px;
    color: #0077b5;
    font-size: 20px;
    font-weight: bolder;
}

.LoginButton:hover{
    opacity: 0.8;
    color: cornflowerblue;
}

.MainPage hr{
    border-color: #4aafe4;
    height: 2px;
    background-color: #4aafe4;
}


.MainPage h1{
    margin-left: 10px;
    color:rgb(71, 73, 113);
    font-size: 50px;
}
.MainPage h2{
    margin-left: 10px;
    margin-top: -50px;
    margin-bottom: -20px;
}


#login-form, #registration-form, #resume-form{
    padding: 0px 15px;
}
#emailInput, #passwordInput{
    width: 240px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

.submitButton{
    height: 40px;
    width: 250px;
    border-radius: 1em;
    color: white;
    background-color: #4aafe4;
    font-size: 15px;
    font-weight: bold;
}

#cancelLink{
    text-align: center;
    margin: 20px 50px;
    font-weight: bold;
    color: #0077b5;
    font-size: 16px;
    margin-bottom: -57px;
}


.updateButton{
    margin-left: 0%;
    margin-top:30px;
}
#login-form img{
    width: 50%;
    height: 50%;
    margin-left: 50%;
    margin-top: -279px;
}

footer{
    text-align: center;
}

/* CSS for registration */

#registration-form{
    width: 40%;
    text-align: center;
    margin: 0px auto;
}


/* CSS for resume */

.InfoForm{
    margin-left: 15px;
    line-height: 70px;
}

.InfoForm input{
    width: 240px;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
}

.InfoForm select, #resume-form select{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

#cancelButton{
    height: 40px;
    width: 250px;
    border: 2px solid #4aafe4;
    border-radius: 1em;
    color: #0077b5;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 80%;
}


/* CSS for create Resume */

.ResumeTable{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ResumeDiv{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid #4aafe4;
    border-radius: 10px;
    padding-top: 40px;
    margin: 40px 41px;
}

.ResumeDiv a{
    text-decoration: none;
    
}
.addButton{
    font-size: 100px;
    font-weight: bold;
    color: #4aafe4;
    margin: 0px;
}

.addDesc{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.ResumeDiv:hover{
    opacity: 0.7;
}


.ResumeDiv a{
    line-height: 80px;
}

#resume-form{
    border-left:3px solid #4aafe4;
    padding: 0px 60px;
}

#resume-form input{
    width: 150px;
    height: 15px;
    padding: 10px;
    border-radius: 10px;
}

/* CSS for adding info on resume */
#createResumeDiv{
    width: 100%;
    border: 3px solid #4aafe4;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

#ResumeNav{
    height: 800px;
    width: 360px;
    margin: 0px;
    padding: 5px;
}

#ResumeNav div{
    width: 90%;
    height: 80px;
    border: 2px solid #4aafe4;
    text-align: center;
    color: #0077b5;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 20px;

}


#ResumeNav div:hover{
    opacity: 0.6;
    border: 3px solid#4aafe4;
}

/*CSS for Jobpost-Form*/
#registration-form{
    width: 40%;
    text-align: center;
    margin: 0px auto;
}

#jobDescription {
    height: 200px;
    Width: 1000px;
}


/* CSS for Job Searching (Applicants)*/

#jobPlatform{
    display: flex;
    justify-content: flex-start;
}
#jobSearch{
    width: 30%;
    padding-left: 30px;
}

#jobResult{
    width: 68%;
}

.jobList{
    border: 2px solid #4aafe4;
    border-radius: 10px;
    padding-left: 40px;
    margin-bottom: 20px;
}


/* CSS for posted Jobs (HR)*/
#postedJobs{
    list-style-type: none;
    font-size: 20px;
}

#postedJobs a{
    margin-left: 80px;
}

#postedJobs a:hover{
    opacity: 0.8;
}

/* CSS for user Profile */
.userProfile{
    border: 2px solid #4aafe4;
    border-radius: 12px;
    width: 36%;
    padding-left: 40px;
    margin-top: -10px;
    line-height: 20px;
}

#userTitle{
    font-size: 25px;
    color: #4aafe4;
    font-weight: bold;
}


/* CSS for Job information view */
.JobInfo{
    border: 2px solid #4aafe4;
    border-radius: 12px;
    width: 46%;
    padding-left: 40px;
    margin-top: -10px;
    line-height: 32px;
    font-size: 22px;
}

.JobInfo h3{
    color: #0077b5;
}

#return{
    text-decoration: none;
    font-size: 15px;
    color: #0077b5;
}

#return:hover{
    text-decoration:dashed;
    opacity: 0.6;
}

#imgLink{
    margin: 0px;
    width: 220px;
    height: 50px;
}

/* CSS for submitting applications panel */
#hidebg {
    position:fixed;
    left:0px;top:0px;
    background-color:#000;
    width:100%;
    filter:alpha(opacity=60);
    opacity:0.6;
    display:none;
    z-Index:2;
}
 #hidebox{
    position:fixed;
    width:350px;
    height:150px;
    top:400px;
    left:38%;
    background-color:#fff;
    display:none;
    cursor:pointer;
    z-Index:3;
    padding: 30px;
}


 #content { 
    text-align:center;
    cursor:pointer;
    z-Index:1;
}


#closeButton{
    border: 1px solid black;
    padding: 5px;
    position: fixed;
    left: 58%;
    top: 400px;
    width: 30px;
    color: #0077b5;
    font-weight: bolder;
    font-size: 22px;
}

/* CSS for reviewing ONE Resume */
.reviewOneResume{
    width: 60%;
    border-radius: 10px;
    font-size: 20px;
}

.reviewOneResume td{
    padding-left: 20px;
}

/* CSS for reviewing all applications table */
#applicationTable{
    border: 1px solid gray;
    width: 100%;
}

#applicationNav{
    background-color: grey;
    color: white;

}

#applicationNav td{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.viewApp{
    width: 100px;
    height: 35px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: #4aafe4;
    color: white;
}

.appColumn{
    border: 1px solid rgb(199, 199, 199);
    padding-left: 20px;
    font-size: 18px;
}


/* CSS for application Detail */
#appDetail{
    border-color: #4aafe4;
    width: 50%;
    margin: 0px auto;
}

#appDetail td{
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    border-color: #4aafe4;

}

/* CSS for accepting message */
#isAccept{
    border: 1px solid black;
    background-color: #4aafe4;
    color: white;
    width: 70%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    border-radius: 15px;
}

#acceptBtn{
    margin: auto 10px;
}

#acceptBtn button{
    border-radius: 10px;
    border-color: grey;
    font-weight: bold;
}
#acceptBtn button:hover{
    background-color: #4aafe4;
    color: white;
}