/* CSS for login and register */

.MainPage{
    width: 70%;
    padding: 0px;
    line-height: 80px;
    margin: 0px auto;
}

.HomeNav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.HomeNav a{
    text-decoration: none;

}
.HomeNav a:first-of-type{
    color: #0077b5;
    font-size: 19px;
    margin: 20px;
    font-weight: bold;
}

.HomeNav a:first-of-type:hover{
    opacity: 0.6;
}
.LoginButton{
    border-radius: 2em;
    border: 1px solid #0077b5;
    width: 116px;
    height: 49px;
    color: #0077b5;
    font-size: 20px;
    font-weight: bolder;
}

.LoginButton:hover{
    opacity: 0.8;
    color: cornflowerblue;
}

.MainPage hr{
    border-color: #4aafe4;
    height: 2px;
    background-color: #4aafe4;
}


.MainPage h1{
    margin-left: 10px;
    color:rgb(71, 73, 113);
    font-size: 50px;
}
.MainPage h2{
    margin-left: 10px;
    margin-top: -50px;
    margin-bottom: -20px;
}


#login-form, #registration-form, #resume-form{
    padding: 0px 15px;
}
#emailInput, #passwordInput{
    width: 240px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

.submitButton{
    height: 40px;
    width: 250px;
    border-radius: 1em;
    color: white;
    background-color: #4aafe4;
    font-size: 15px;
    font-weight: bold;
}

#cancelLink{
    text-align: center;
    margin: 20px 50px;
    font-weight: bold;
    color: #0077b5;
    font-size: 16px;
    margin-bottom: -57px;
}


.updateButton{
    margin-left: 0%;
    margin-top:30px;
}
#login-form img{
    width: 50%;
    height: 50%;
    margin-left: 50%;
    margin-top: -279px;
}

footer{
    text-align: center;
}

/* CSS for registration */

#registration-form{
    width: 40%;
    text-align: center;
    margin: 0px auto;
}


/* CSS for resume */

.InfoForm{
    margin-left: 15px;
    line-height: 70px;
}

.InfoForm input{
    width: 240px;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
}

.InfoForm select, #resume-form select{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

#cancelButton{
    height: 40px;
    width: 250px;
    border: 2px solid #4aafe4;
    border-radius: 1em;
    color: #0077b5;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 80%;
}


/* CSS for create Resume */

.ResumeTable{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ResumeDiv{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid #4aafe4;
    border-radius: 10px;
    padding-top: 40px;
    margin: 40px 41px;
}

.ResumeDiv a{
    text-decoration: none;
    
}
.addButton{
    font-size: 100px;
    font-weight: bold;
    color: #4aafe4;
    margin: 0px;
}

.addDesc{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.ResumeDiv:hover{
    opacity: 0.5;
}

.ResumeDiv a{
    line-height: 50px;
}

#resume-form{
    border-left:3px solid #4aafe4;
    padding: 0px 60px;
}

#resume-form input{
    width: 150px;
    height: 15px;
    padding: 10px;
    border-radius: 10px;
}

/* CSS for adding info on resume */
#createResumeDiv{
    width: 100%;
    border: 3px solid #4aafe4;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

#ResumeNav{
    height: 800px;
    width: 360px;
    margin: 0px;
    padding: 5px;
}

#ResumeNav div{
    width: 90%;
    height: 80px;
    border: 2px solid #4aafe4;
    text-align: center;
    color: #0077b5;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 20px;
}

#ResumeNav div:hover{
    opacity: 0.6;
}

